*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: black;
}
#nav{
    height: 80px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;

}
#nav-part2{
    display: flex;
    gap: 55px;
}
#nav-part3{
    display: flex;
    align-items: center;
    gap: 55px;
   
}
img{
    height: 50px;
    
}
#nav h3,h4{
    text-transform: uppercase;
    font-size: 17px;
}
#nav button{
    border: 2px solid white;
    background-color: white;
    color: black;
    padding: 18px 25px;
    border: none;
    font-weight: 700;
    font-size: 17px;
}
#main h1{
    font-size: 150px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1:nth-child(1){
    margin-top: 60px;
}
span{
    background-color: rgb(117, 57, 57);
    color: white;
    font-size: 35px;
    border-radius: 50px;
    padding: 30px 50px;
    margin: 0px 28px;

}
#main #left-img{
    height: 200px;
    position: absolute;
    top: 15%;
    left: 6%;
    border-radius: 30px;
}
#main #bottom-img{
    height: 150px;
    width: 200px;
    position: absolute;
    bottom: 10%;
    left: 6%;
    border-radius: 30px;
}
#main #right-img{
    height: 250px;
    width: 250px;
    position: absolute;
    bottom: 20%;
    right: 4%;
    border-radius: 30px;
}
h5{
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%,0);
    font-size: 18px;
    
}

